.App {
  text-align: center;
}


div {
  background: #45c8ec;
}
#regform {
  position: relative;
  top: 10px;
}
#mainpage {
  background: lightblue;
  height: 50%;
}
#List {
  
width:25%;
}
#headerImg {
  height: 100%;
 text-align: left;
 border: 2px solid black;
}
.container {
  float: right;
  width: 75%;
  margin-left: 5px;
}
#Userpage {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width:100vh;
  background: #0098d3;
  
}
#headline {
  position: relative;
  left: 45%;
  height: 50px;
  width: 200px;
  font-size: 20px;
  margin:10px;
}

